.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: black;
  height: 100vh;
}

.isClipped {
  clip-path: url(#svgClip);
}

.multiPathContainer {
  height: 40vh;
}

.multiPath {
  clip-path: url(#multiPath);
}

video {
  width: 100%;
}
