.card-title {
  display: inline-block;
  margin-left: 50px;
  width: 562px;
  flex-direction: column;
  font-size: 32px;
  font-family: Riforma LL;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.card-description {
  display: inline;
  overflow-wrap: break-word;
  max-width: 50%;
  margin-top: 100px;
  margin-left: -570px;
}
