.main-hero {
  clip-path: url(#myClipPath);
  width: 100%;
  height: 400px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: black;
  height: 100vh;
}

.isClipped {
  clip-path: url(#svgClip);
}
@media screen and (max-width: 768px) {
  .main-hero {
    height: 300px;
  }
}
