.main-hero {
  clip-path: url(#myClipPath);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background: white;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.main-hero-content {
  /*   position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 2;
  color: black; */
  width: 100%;
}

.text-container {
  position: absolute;
  top: 25%;
  max-width: 40vw;
  padding: 0 20px 0 0;
  /* flex: 1;
  display: flex;
  padding: 20px;
  flex-direction: column;
  max-width: 600px;
  margin-right: 20px; */
}

.text-container h2 {
  margin-bottom: 0;
}

.text-container p {
  margin-top: 20px;
}

.isClipped {
  clip-path: url(#imageClipPath);
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  order: 1;
  margin-bottom: 20px;
}
/* 
  .image-container svg {
    max-width: 100%;
    height: auto;
  } */

.imgWithBg {
  /* max-width: 100%; */
  max-height: 615px;
  position: relative;
  display: none;
}

.imgWithBg .redBg {
  background-color: #cf4326;
  height: 615px;
  max-height: 615px;
  max-width: 1015px;
  width: auto;
}

.imgWithBg img {
  position: absolute;
  left: 0;
}

.imgClipPathMH {
  width: 1001px;
  height: 615px;
  clip-path: path(
    "M980.975 0.000476496L601.696 0L0.5 601.514H379.778L980.975 0.000476496ZM989 602V49.5L445.5 602H989Z"
  );
}

.bgClipPathMH {
  clip-path: path(
    "M986.965 14.9844H610.183L10.4844 615L387.267 614.999L986.965 14.9844ZM1001.5 615V59L455.5 615H1001.5Z"
  );
}

@media screen and (min-width: 961px) {
  .imgWithBg.desktop {
    display: block;
  }
}

/* desktops */
@media screen and (min-width: 769px) and (max-width: 960px) {
  .text-container {
    top: 20%;
    max-width: 35vw;
    padding: 0 20px 0 0;
  }

  .imgWithBg .redBg {
    background-color: #cf4326;
    height: 510px;
    max-height: 510px;
    max-width: 499px;
    width: auto;
  }

  .imgClipPathMH {
    height: 510px;
    width: 499px;
    clip-path: path(
      "M499 0L0 499.925H171L499 173V172V0ZM499 500V197.999L201 500H499Z"
    );
  }

  .bgClipPathMH {
    clip-path: path(
      "M499 190V11L0 510H176.426L499 190ZM499 510V208L201 510H499Z"
    );
  }

  .imgWithBg.tablet {
    display: block;
  }
}

/** Tab */
@media screen and (min-width: 621px) and (max-width: 768px) {
  .imgWithBg.mobile {
    display: block;
  }
  .text-container {
    top: 15%;
    max-width: 35vw;
    padding: 0 20px 0 0;
  }

  .imgClipPathMH {
    clip-path: path(
      "M499 0L0 499.925H171L499 173V172V0ZM499 500V197.999L201 500H499Z"
    );
  }

  .bgClipPathMH {
    clip-path: path(
      "M499 190V11L0 510H176.426L499 190ZM499 510V208L201 510H499Z"
    );
  }
}

/** Large Mobile */
@media screen and (min-width: 401px) and (max-width: 620px) {
  .imgWithBg.mobile {
    display: block;
  }
  .imgWithBg .redBg {
    height: 330px;
    max-height: 330px;
    max-width: 340px;
  }

  .text-container {
    top: 15%;
    max-width: 60vw;
    padding: 0 20px 0 0;
  }

  .image-container svg {
    padding-top: 30%;
  }

  .imgClipPathMH {
    clip-path: path(
      "M330 0L0.6875 329.925H138L330 138V0ZM330 329.999L329.999 157.004L158 329.999H330Z"
    );
  }

  .bgClipPathMH {
    clip-path: path("M330 148V10L1 340H138L330 148ZM330 340V167L158 340H330Z");
  }
}

/** Smaller Mobile */
@media screen and (max-width: 400px) {
  .imgWithBg .redBg {
    height: 330px;
    max-height: 330px;
    max-width: 340px;
  }

  .imgClipPathMH {
    clip-path: path(
      "M330 0L0.6875 329.925H138L330 138V0ZM330 329.999L329.999 157.004L158 329.999H330Z"
    );
  }

  .bgClipPathMH {
    clip-path: path("M330 148V10L1 340H138L330 148ZM330 340V167L158 340H330Z");
  }
}
