:root {
  --grey-grey-01: #313131;
  --white: #ffffff;
  --grey-grey-04: #d9d9d9;
}

.mediacard {
  display: flex;
  justify-content: flex-start;
  padding: 48px 142px;
  gap: 10px;
  width: 100%;
}

.mediacard.grey01 {
  background-color: var(--grey-grey-01);
  color: var(--white);
}

.mediacard.grey04 {
  background-color: var(--grey-grey-04);
  color: var(--grey-grey-01);
}

.mediacard.white {
  background-color: var(--white);
  color: var(--grey-grey-01);
}

@media screen and (max-width: 1280px) {
  .mediacard {
    padding: 32px;
  }
}
@media screen and (max-width: 414px) {
  .mediacard {
    flex-direction: column-reverse;
    padding: 24px;
  }
}

@media screen and (max-width: 280px) {
  .mediacard {
    display: flex;
    overflow: scroll;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
  }
  .card-context {
    font-size: 2px;
  }
}
