.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
  height: 100vh;
}

.isClippedOne {
  clip-path: url(#imageClipPathOne);
  width: 316px;
  height: 229px;
}

.isClippedTwo {
  clip-path: url(#imageClipPathTwo);
  width: 313px;
  height: 238px;
}

.isClippedThree {
  clip-path: url(#imageClipPathThree);
  width: 287px;
  height: 197px;
}

.card-image {
  display: flex;
  overflow-wrap: break-word;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .mediacard {
    padding: 32px;
  }
  .card-image {
    width: 100vw;
    flex-direction: column-reverse;
    height: 50%;
  }
  .card-context {
    height: 50%;
    width: 100%;
  }
}

.isClipped {
  clip-path: url(#imageClipPathOne);
}
