.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
  height: 100vh;
}

.isClipped {
  clip-path: url(#svgClip);
}

.card-image {
  display: flex;
  overflow-wrap: break-word;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .card-image {
    flex-direction: column-reverse;
  }
}
