body {
  background-color: #d9d9d9;
  margin: 0;
  padding: 0;
}

.card-context {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
  height: 100vh;
}

.isClippedOne {
  clip-path: url(#imageClipPathOne);
  width: 316px;
  height: 229px;
}

.isClippedTwo {
  clip-path: url(#imageClipPathTwo);
  /* width: 313px;
  height: 238px; */
}

.isClippedThree {
  clip-path: url(#imageClipPathThree);
  width: 287px;
  height: 197px;
}

.card-image {
  display: flex;
  overflow-wrap: break-word;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .mediacard {
    padding: 32px;
  }
  .card-image {
    width: 100vw;
    flex-direction: column-reverse;
    height: 50%;
  }
  .card-context {
    height: 50%;
    width: 100%;
  }
}

.isClipped {
  clip-path: url(#imageClipPathOne);
}

:root {
  --grey-grey-01: #313131;
  --white: #ffffff;
  --grey-grey-04: #d9d9d9;
  --red: #cf4326;
}

.mediacard {
  display: flex;
  justify-content: flex-start;
  padding: 48px 142px;
  gap: 10px;
  width: 100%;
}

.mediacard.grey01 {
  background-color: var(--grey-grey-01);
  color: var(--white);
}

.mediacard.grey04 {
  background-color: var(--grey-grey-04);
  color: var(--grey-grey-01);
}

.mediacard.white {
  background-color: var(--white);
  color: var(--grey-grey-01);
}

button.red {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--red);
  width: 50%;
  height: 0.2rem;
  color: #ffffff;
  box-shadow: none;
  border: 1px solid var(--red);
}

button.grey01 {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--grey-grey-01);
  color: #ffffff;
  box-shadow: none;
  width: 50%;
  height: 2%;
  border: 1px solid var(--white);
}

svg {
  width: 100%;
  height: fit-content;
}
